@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Open+Sans&display=swap");
html {
  width: 100%;
  min-height: 100%;
  align-self: center;
  background: url(./assets/background2.png) rgb(98, 122, 139);
  background-size: auto;
  background-blend-mode: darken;
  font-family: sans-serif;
  overflow-x: hidden;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}
html .logoContainer {
  width: 110vw;
  margin-left: -5%;
  margin-top: -32px;
  padding-top: 3px;
  height: auto;
  background: rgb(69, 130, 185);
  background: linear-gradient(90deg, rgb(43, 65, 85) 0%, rgb(43, 71, 97) 18%, rgb(64, 85, 105) 34%, rgb(50, 70, 94) 50%, rgb(33, 53, 77) 63%, rgb(72, 102, 145) 100%);
}
html body {
  display: flex;
  flex-direction: column;
}
html body,
html #root,
html .App {
  width: 100%;
  height: 100%;
}
html img {
  width: 250px;
  height: 250px;
}
html .pokeLink,
html .pokeLink:visited {
  color: inherit;
  text-decoration: none;
}
html .pokeLogo {
  width: 250px;
  height: 90px;
}
html .isOpaque {
  opacity: 1;
}
html .translateMiddle {
  opacity: 0;
  transform: translate(-5%, 0);
}
html .notOpaque {
  transform: translate(10%, 0);
  opacity: 0;
}
html .headings,
html .wrapper,
html button {
  margin-left: 50%;
  margin-top: 2em;
  font-family: "Open Sans", sans-serif;
}
html .headings .pokeLogo,
html .headings h1,
html .headings h3,
html .headings .container,
html .headings .headings-btn,
html .headings .wrapper p,
html .wrapper .pokeLogo,
html .wrapper h1,
html .wrapper h3,
html .wrapper .container,
html .wrapper .headings-btn,
html .wrapper .wrapper p,
html button .pokeLogo,
html button h1,
html button h3,
html button .container,
html button .headings-btn,
html button .wrapper p {
  transform: translate(-50%, 0);
  text-align: center;
}
html .headings h1,
html .wrapper h1,
html button h1 {
  -webkit-text-fill-color: rgb(255, 255, 255); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  font-size: 2.2em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-top: -1px;
}
html .container {
  width: 110vw;
  margin: auto;
  height: 15vh;
  background-color: rgb(227, 231, 231);
  padding-top: 1px;
}
html .wrapper {
  width: 80vw;
  margin-top: -1px;
}
html button {
  margin-left: 0;
  transform: translate(-50%, 0);
  border: none;
  background-color: rgb(8, 145, 8);
  color: white;
  width: 10em;
  height: 3em;
  margin-top: -2%;
  margin-bottom: -5px;
  font-size: 1.4em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-shadow: 0 0 5px black;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
html .gen-btn:hover {
  transform: translate(-50%, 0) scale(1.1);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
html .gen-btn:active {
  transform: translate(-50%, 5px);
  transition: transform 0.3s ease-out;
}
html .allPokeItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  align-self: center;
  flex-wrap: wrap;
  margin-bottom: 5em;
  margin-top: 1%;
  max-width: 80vw;
  color: black;
  transition: opacity, transform 0.2s, 0.1s ease;
}
html .allPokeItems .translateMiddle {
  transition: none;
}
html .allPokeItems .pokeNames,
html .allPokeItems .type {
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: white;
}
html .allPokeItems .pokeNames {
  font-size: 1.8em;
}
html .allPokeItems .type {
  font-size: 1.2em;
  margin-top: -4px;
  margin-bottom: -5px;
}
html .allPokeItems .individualPokeItem {
  background-color: antiquewhite;
  width: 320px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 2em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.863);
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
html .allPokeItems .individualPokeItem * {
  display: inline-block;
  font-family: "Raleway", sans-serif;
}
html .allPokeItems .individualPokeItem #statBox p {
  font-family: "Open Sans", sans-serif;
}
html .allPokeItems .individualPokeItem #statBox {
  margin: 1em 0;
  padding-bottom: 8px;
  width: 280px;
  height: 170px;
  border-radius: 5px;
  font-size: 1.1em;
  color: #3f2e06;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322);
  background: rgb(236, 234, 225);
  background: linear-gradient(0deg, rgb(230, 226, 209) 0%, rgb(244, 238, 217) 24%, rgb(235, 231, 215) 49%, rgb(232, 228, 213) 72%, rgb(233, 224, 199) 100%);
}
html .allPokeItems .individualPokeItem .statIcons {
  width: 20px;
  height: 20px;
  margin-bottom: -3px;
  margin-right: 15px;
}
html .allPokeItems .individualPokeItem .statDiv {
  margin-bottom: -15px;
  margin-left: -1.5em;
}
html .allPokeItems .individualPokeItem .pokeStats {
  width: 30px;
}
html .allPokeItems .individualPokeItem .statVal {
  text-align: right;
  margin-left: 4em;
  font-size: 1em;
  width: 20px;
}
html .allPokeItems .individualPokeItem:hover {
  transform: scale(1.1);
}
html .allPokeItems .normal {
  background: rgb(201, 177, 146);
  background: linear-gradient(45deg, rgb(201, 177, 146) 0%, rgb(250, 254, 255) 49%, rgb(208, 188, 169) 100%);
}
html .allPokeItems .fire {
  background: rgb(255, 104, 54);
  background: linear-gradient(70deg, rgb(253, 75, 44) 0%, rgba(250, 121, 89, 0.87) 49%, rgb(243, 73, 30) 100%);
}
html .allPokeItems .water {
  background: rgb(10, 92, 185);
  background: radial-gradient(circle, rgb(93, 151, 216) 0%, rgb(18, 168, 215) 49%, rgb(89, 143, 243) 100%);
}
html .allPokeItems .grass {
  background: rgb(66, 112, 53);
  background: linear-gradient(293deg, rgb(127, 212, 103) 0%, rgb(164, 224, 169) 49%, rgb(84, 218, 111) 100%);
}
html .allPokeItems .electric {
  background: rgb(251, 255, 102);
  background: linear-gradient(90deg, rgba(251, 255, 102, 0.9) 0%, rgb(228, 226, 51) 49%, rgba(254, 255, 84, 0.9) 100%);
}
html .allPokeItems .ice {
  background: rgb(226, 252, 255);
  background: linear-gradient(45deg, rgb(171, 234, 241) 0%, rgb(218, 240, 245) 49%, rgb(165, 232, 247) 100%);
}
html .allPokeItems .fighting {
  background: rgb(245, 148, 57);
  background: linear-gradient(90deg, rgb(245, 148, 57) 0%, rgb(245, 193, 89) 49%, rgb(255, 164, 67) 100%);
}
html .allPokeItems .poison {
  background: rgb(184, 109, 221);
  background: linear-gradient(117deg, rgb(171, 125, 194) 0%, rgb(186, 143, 228) 49%, rgb(117, 78, 134) 100%);
}
html .allPokeItems .ground {
  background: rgb(255, 224, 107);
  background: radial-gradient(circle, rgb(255, 224, 107) 0%, rgb(219, 198, 118) 49%, rgb(242, 202, 55) 100%);
}
html .allPokeItems .flying {
  background: rgb(201, 214, 217);
  background: linear-gradient(278deg, rgb(201, 214, 217) 0%, rgb(211, 212, 204) 24%, rgb(233, 230, 213) 49%, rgb(207, 214, 200) 72%, rgb(221, 223, 224) 100%);
}
html .allPokeItems .psychic {
  background: rgb(207, 154, 249);
  background: linear-gradient(278deg, rgb(207, 154, 249) 0%, rgb(223, 161, 244) 24%, rgb(238, 175, 255) 49%, rgb(208, 167, 231) 72%, rgb(238, 133, 249) 100%);
}
html .allPokeItems .bug {
  background: rgb(92, 222, 118);
  background: linear-gradient(278deg, rgb(92, 222, 118) 0%, rgb(155, 233, 166) 24%, rgb(127, 232, 121) 49%, rgb(172, 246, 186) 72%, rgb(123, 230, 76) 100%);
}
html .allPokeItems .rock {
  background: rgb(223, 186, 104);
  background: linear-gradient(180deg, rgb(223, 186, 104) 0%, rgb(227, 199, 150) 24%, rgb(217, 182, 114) 49%, rgb(246, 223, 172) 72%, rgb(213, 188, 111) 100%);
}
html .allPokeItems .ghost {
  background: rgb(154, 83, 201);
  background: linear-gradient(90deg, rgb(154, 83, 201) 0%, rgb(142, 98, 175) 24%, rgb(190, 114, 217) 49%, rgb(142, 75, 168) 72%, rgb(157, 111, 213) 100%);
}
html .allPokeItems .dark {
  background: rgb(27, 40, 62);
  background: linear-gradient(180deg, rgb(27, 40, 62) 0%, rgb(40, 48, 82) 24%, rgb(36, 49, 70) 49%, rgb(28, 44, 56) 72%, rgb(37, 53, 75) 100%);
}
html .allPokeItems .dark .pokeNames,
html .allPokeItems .dark .type {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}
html .allPokeItems .dragon {
  background: rgb(205, 198, 68);
  background: linear-gradient(45deg, rgb(205, 198, 68) 0%, rgb(191, 177, 39) 24%, rgb(205, 199, 69) 49%, rgb(171, 166, 25) 72%, rgb(215, 211, 69) 100%);
}
html .allPokeItems .steel {
  background: rgb(188, 196, 196);
  background: linear-gradient(304deg, rgb(188, 196, 196) 0%, rgb(226, 231, 231) 24%, rgb(222, 230, 230) 49%, rgb(188, 196, 196) 72%, rgb(225, 229, 231) 100%);
}
html .allPokeItems .fairy {
  background: rgb(249, 107, 213);
  background: radial-gradient(circle, rgb(249, 107, 213) 0%, rgb(249, 134, 226) 24%, rgb(230, 115, 201) 49%, rgb(221, 123, 208) 72%, rgb(251, 120, 206) 100%);
}
html footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  text-justify: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  background-color: grey;
  width: 110vw;
  padding-top: 4px;
  height: 3%;
}/*# sourceMappingURL=styles.css.map */